# Project switcher configuration
#
# In this file, you'll define your projects, their key, their location and
# their name. You can also configure another alias for the switcher. The
# Letter 'p' is used by default.
#
config:
  alias: 'p' # This is the alias used for the switcher.

  # Optionally you can choose to add hooks, which are commands run before or after switching.
  before_switch: 'clear' # (optional) hooks with commands to be ran.
  # after_switch: 'pwd' # (optional) hooks with commands to be ran.

projects:
  home:
    name: 'Home directory'
    path: '~/'
    # before_switch: 'clear' # (optional) Same as before_switch in config, but configurable per project. Runs after global before_switch.
    # after_switch: 'pwd' # (optional) Same as after_switch in config, but configurable per project. Runs after global after_switch.
